html {
  /* background: linear-gradient(to bottom right, #666, #333); */
  background-color: #333;
  background-image: url(./assets/topography.svg);
}

body {
  background: transparent;
  height: 100vh;
  overflow: hidden;
  padding-left: 50px;
}

nav {
  align-items: center;
  background: #212529;
  color: #666;
  height: 100vh;
  left: 0;
  position: fixed;
  width: 50px;
}

.nav-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

.add-file-reader,
.library-manga-list {
  align-content: flex-start;
  height: 100vh;
  overflow: auto;
  width: calc(100vw - 290px);
}

manga:hover {
  background: red;
}

.manga {
  background-size: cover;
  background-position: center;
  cursor: pointer;
  height: calc((100vw - 290px) / 7 * 1.333);
  position: relative;
  width: calc((100vw - 290px) / 7);
  z-index: 5;
}

.manga:hover {
  opacity: 0.5;
}

.selected {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 240px;
}

.selected-manga {
  width: 240px;
  height: 320px;
}

.selected-text {
  padding: 10px;
  position: relative;
}

.selected-text p {
  text-align: right;
}

.selected-title {
  font-size: 100px;
  left: 90px;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: left top 0;
  text-shadow: 0px 0px 30px #777;
  white-space: nowrap;
  z-index: 1;
}

.add-list-folder,
.add-list-file {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.add-list-folder {
  font-weight: bold;
}


.viewer {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: relative;
  width: calc(100vw - 50px);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.viewer img {
  height: 100vh;
}

.viewer-controls {
  position: absolute;
  height: 100%;
  width: 100%;
}

.viewer-half {
  height: 100%;
  width: 50%;
}