body {
  background: #ffafaf;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

/* .flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-direction: wrap;
} */

.library {
  width: 80vw;
}

.manga {
  width: 100px;
  height: 140px;
  background-size: cover;
  background-position: center;
}