html {
  background: #333;
  background: linear-gradient(to bottom right, #666, #333);
}

body {
  background: transparent;
  height: 100vh;
  overflow: hidden;
}

nav {
  color: #666;
  background: #212529;
  width: 50px;
  height: 100vh;
  align-items: center;
  position: fixed;
}

.nav-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 50px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

.library {
  align-content: flex-start;
  height: 100vh;
  margin-left: 50px;
  overflow: auto;
  width: calc(100vw - 290px);
}

manga:hover {
  background: red;
}

.manga {
  background-size: cover;
  background-position: center;
  cursor: pointer;
  height: calc((100vw - 290px) / 7 * 1.333);
  position: relative;
  width: calc((100vw - 290px) / 7);
  z-index: 5;
}

.manga:hover {
  opacity: 0.5;
}

.selected {
  height: calc(100vh - 50px);
  /* margin-top: 50px; */
  overflow: hidden;
  position: fixed;
  width: 240px;
}

.selected-manga {
  width: 240px;
  height: 320px;
}

.selected-text {
  padding: 10px;
  position: relative;
}

.selected-text p {
  text-align: right;
}

.selected-title {
  font-size: 100px;
  left: 90px;
  position: absolute;
  transform: rotate(90deg);
  transform-origin: left top 0;
  text-shadow: 0px 0px 4px #666;
  white-space: nowrap;
  z-index: 1;
}