<div class="sidebar transparent-white-back">

  <div ng-if="!display.editing">
    <img class="selected-manga" ng-src="{{display.imageUrl}}" alt="">
    <div class="info p-2">
      <h4 class="title">{{display.data.title}}</h4>
      <label for="author">{{display.data.author}}</label>
      <ul>
        <li>Genre</li>
        <li>Genre</li>
        <li>Genre</li>
        <li>Genre</li>
      </ul>
    </div>
    <button class="btn btn-warning" ng-click="display.editingStart()">Edit</button>
  </div>

  <form ng-if="display.editing" ng-submit="display.editingStop()">
    <img class="selected-manga" ng-src="{{display.imageUrl}}" alt="">
    <div class="info p-2">
      <input type="text" class="form-control" ng-model="display.data.title">
      <input type="text" class="form-control" ng-model="display.data.author">
      <ul>
        <li>Genre</li>
        <li>Genre</li>
        <li>Genre</li>
        <li>Genre</li>
      </ul>
    </div>
    <button class="btn btn-warning" ng-click="display.editingStop()">Save</button>
  </form>

</div>