<div id="selected" class="sidebar pl-3 pr-3">
  <ul class="list-group" ng-if="selected.media">
    <li class="list-group-item">
      <i class="selected-file-icon fas fa-file-{{selected.media.type}}"></i>
    </li>
    <li class="list-group-item list-group-item-info">
      {{selected.media.path}}
    </li>
    <li
      class="list-group-item list-group-item-info bg-info text-white d-flex justify-content-between pointer"
      ng-click="selected.confirm(selected.media.path)"
      ng-if="!selected.confirmed"
    >
      <span>
        Select
      </span>
      <span class="badge badge-light badge-pill text-info d-flex align-items-center">
        <i class="fas fa-check"></i>
      </span>
    </li>
    <li class="list-group-item" ng-if="selected.media.series">
      Series: {{selected.media.series}}
    </li>
    <li class="list-group-item" ng-if="selected.media.category">
      Category: {{selected.media.category}}
    </li>
    <li class="list-group-item" ng-if="selected.media.number">
      {{selected.media.mediaType}} #{{selected.media.number}}
    </li>
  </ul>
</div>