<div id="add-info" class="add-info site-width pr-3">
  <add-list classes="mb-3" click="info.click" type="info.data.type" title="info.data.title" list="info.data.list"></add-list>
  <ul class="list-group mb-3">
    <li class="list-group-item list-group-item-dark">Title</li>
    <li class="list-group-item flex align-items-center">
      <i class="fas fa-font mr-3"></i>
      <input class="form-control p-0 border-0" type="text" placeholder="Enter title here...">
    </li>
  </ul>
  <add-list classes="mb-3" click="info.click" type="'cubes'" title="'category'" list="info.types"></add-list>
  <ul class="list-group mb-3">
    <li class="list-group-item list-group-item-dark">Number</li>
    <li class="list-group-item flex align-items-center">
      <i class="fas fa-hashtag mr-3"></i>
      <input class="form-control p-0 border-0" type="number" placeholder="Enter title here...">
    </li>
  </ul>
</div>