<div class="add-manga flex flex-column">
  <h2 class="title mt-3 ml-3">Add Manga</h2>
  <div class="flex flex-row">

    <div class="add-file-reader site-width pl-3" ng-if="!add.confirmed">

      <div class="add-header">
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <button class="btn btn-info" ng-click="add.popFolder()">
              <i class="fas fa-arrow-left"></i>
            </button>
            <div class="input-group-text">
              <i class="fas fa-folder-open"></i>
            </div>
          </div>
          <input type="text" class="form-control" ng-model="add.path" />
          <button class="btn btn-info input-group-append" ng-click="add.searchFolder()">Search</button>
        </div>
      </div>

      <div class="d-flex">
        <div class="mr-2 w-50">
          <add-list click="add.appendFolder" type="'folder'" list="add.folders"></add-list>
        </div>
        <div class="ml-2 w-50">
          <add-list click="add.selectFile" type="'file'" list="add.files" index="add.index"></add-list>
        </div>
      </div>
    </div>

    <add-selected media="add.selected" confirm="add.confirmFile" confirmed="add.confirmed"></add-selected>
    <add-info ng-if="add.confirmed" data="add.info"  images="add.images" select="add.selectInfo"></add-info>
  </div>
</div>